/* Import the required assets such as fonts*/

@font-face {
    font-family: Orbitron;
    src: url(../fonts/Orbitron-Regular.ttf);
}

/* Start of main elements config */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.smooth-scroll, html, body {
    scroll-behavior: smooth;
}

html {
    font-family: Orbitron, "Open Sans", sans-serif;
    color: white;
    letter-spacing: 2px;
}

h1 {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #04D9FF,
        0 0 82px #04D9FF,
        0 0 92px #04D9FF,
        0 0 102px #04D9FF,
        0 0 151px #04D9FF;
    animation: fade-in 5s;
}

h2 {
    font-size: 30px;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #04D9FF,
        0 0 82px #04D9FF,
        0 0 92px #04D9FF,
        0 0 102px #04D9FF,
        0 0 151px #04D9FF;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/* End of main element config */

/* Start of nav-bar elements config */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #03001C;
    margin: 0;
}

nav {
    background-color: #5078f2;
    background-image: linear-gradient(315deg, #5078f2 0%, #efe9f4 74%);
    position: fixed;
    width: 100%;
    height: 41px;
    display: grid;
    grid-template-columns: 12vw 59.99vw 28vw;
    z-index: 11;
}

.dark-mode > nav {
    background-color: #2234ae;
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
}

.dark-mode-switch {
    width: 10vw;
    margin-left: 2vw;
    grid-column: 1;
    align-self: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.slider.circle {
    border-radius: 34px;
}

.slider.circle:before {
    border-radius: 50%;
}

.hamburger {
    display: none;
    grid-column: 1;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #03001C;
}

nav > ul {
    grid-column: 3;
    justify-self: end;
    margin-right: 1.3vw;
    align-self: center;
    margin-bottom: 5px;
}

nav > ul > li {
    display: inline-block;
}

.navLinks {
    font-size: 1rem;
    font-weight: bolder;
    color: #475569;
}

.navLinks:hover {
    color: #482ff7;
}

#navBanner {
    max-width: 476px;
    justify-self: center;
    margin-left: 13vw;
    grid-column: 2;
}
/* End of nav-bar elements config */

/* Start of header elements config */
header {
    background: url(../assets/bg_top_stars.jpg);
    background-size: cover;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 48px;
    gap: 50px;
}

header > p {
    text-align: center;
    margin: 0 4vw;
}

#description {
    height: 750px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/orbit.jpg) repeat-x;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

#description > p {
    text-align: center;
    padding: 0 200px;
    margin: 0 4vw;
}
/* End of header elements config */

/* Start of the Carousel Section elements config */

#carousel-heroes {
    height: 50vw;
    position: relative;
    overflow-x: hidden;
}

.slider-tabs input{
    visibility: hidden;
    display: none;
}

.labels{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.labels label{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    box-shadow: #7DF9FF 0px 13px 27px -5px, #7DF9FF 0px 8px 16px -8px;
}

.slider-tabs input:nth-child(1):checked ~ .labels label:nth-child(1),
.slider-tabs input:nth-child(2):checked ~ .labels label:nth-child(2),
.slider-tabs input:nth-child(3):checked ~ .labels label:nth-child(3),
.slider-tabs input:nth-child(4):checked ~ .labels label:nth-child(4) {
    width: 40px;
    background-color: aquamarine;
}

.hero-content {
    display: flex;
    width: 400vw;
    position: relative;
    transition: all .5s ease-in-out;
}

.hero-content .hero-box {
    height: 50vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hero-content .hero-box .content {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.hero-content .hero-box:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/gate_banner2.jpg) repeat-x;
    background-size: cover;
}

.hero-content .hero-box:nth-child(2){
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/mairaath1.jpg) repeat-x;
    background-size: cover;
}

.hero-content .hero-box:nth-child(3){
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/harry.jpg) repeat-x;
    background-size: cover;
}

.hero-content .hero-box:nth-child(4){
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/officer.jpg) repeat-x;
    background-size: cover;
}

.slider-tabs input:nth-child(1):checked ~ .hero-content {
    left: 0vw;  
}

.slider-tabs input:nth-child(2):checked ~ .hero-content {
    left: -100vw;  
}

.slider-tabs input:nth-child(3):checked ~ .hero-content {
    left: -200vw;  
}

.slider-tabs input:nth-child(4):checked ~ .hero-content {
    left: -300vw;  
}

/* End of the Carousel Section elements config */

/* Start of the grid arranged features section elements config */
#grid-arranged-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #1b2845 74%);
}

.dark-mode #grid-arranged-features {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

#grid-arranged-features > h2 {
    margin-top: 5vw;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 24vw);
    grid-template-rows: repeat(5, 15vw);
    grid-gap: 10px;
    margin-bottom: 5vw;
}

.grid-container > .features-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.features-image:hover #overlay1 {
    opacity: 1;
}

#grid1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

#grid2 {
    grid-column: 3;
    grid-row: 1;
}

#grid3 {
    grid-column: 4;
    grid-row: 1;
}

#grid4 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
}

#grid5 {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#grid6 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
}

#grid7 {
    grid-column: 4;
    grid-row: 4;
}

#grid8 {
    grid-column: 3;
    grid-row: 5;
}

#grid9 {
    grid-column: 4;
    grid-row: 5;
}

#image1 {
    width: 100%;
    height: 100%;
}

#overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 2vw;
    text-align: center;
}

#text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 2vw;
    width: 20vw;
    text-align: center;
}

#text3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 2vw;
    width: 17vw;
    text-align: center;
}

/* End of the grid arranged features section elements config */

/* Start of the game acquiring information section elements config */
#whereToGet {
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.dark-mode #whereToGet {
    background-color: #7a7adb;
    background-image: linear-gradient(315deg, #7a7adb 0%, #170e13 74%);
}

#whereToGet > h2{
    text-align: center;
}

#whereToGet > p {
    text-align: center;
    margin: 0 3vw;
}

.dev-links {
    color: aqua;
}
/* End of the game acquiring information section elements config */

/* Start of the registration forms section elements config */
#registrationForms {
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
    height: 1280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.dark-mode #registrationForms {
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
}

#registrationForms > h2 {
    text-align: center;
}

#registrationForms > form {
    width: 680px;
    background-color: white;
    border-radius: 18px;
    height: 1060px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-text {
    font-family: 'Orbitron', sans-serif;
    color: black;
    width: 80%;
    border-radius: 5px;
    font-weight: bolder;
}

.radio-button {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.radio-wrap {
    display: flex;
    gap: 8px;
}

.checkbox {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

button[type="submit"] {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    width: 80%;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
}
/* End of the registration forms section elements config */

/* Start of the footer section elements config */
footer {
    background: url(../assets/bg_bottom_glow.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* End of the footer section elements config */

@media only screen and (max-width: 1023px) {
    .nav-links {
        position: fixed;
        left: -100%;
        top: 2.55rem;
        display: flex;
        flex-direction: column;
        background-color: #5078f2;
        background-image: linear-gradient(315deg, #5078f2 0%, #efe9f4 74%);
        gap: 5px;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .dark-mode .nav-links {
        background-color: #2234ae;
        background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
    }
    
    .nav-links.active {
        left: 0;
    }

    .navLinks {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        grid-column: 1;
        grid-row: 1;
        justify-self: baseline;
        margin-left: 20px;
        margin-top: 5px;
    }

    .bar {
        background-color: white;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .dark-mode-switch {
        grid-column: 3;
        justify-self: end;
    }

    #navBanner {
        grid-column: 2;
        grid-row: 1;
    }

    header {
        align-items: center;
    }

    #description > p{
        padding: 0;
    }

    #whereToGet {
        height: 720px;
    }

}

@media only screen and (max-width: 980px) {
    #carousel-heroes {
        height: 80vw;
    }

    .hero-content .hero-box {
        height: 80vw;
    }
}

@media only screen and (max-width: 768px) {
    .nav-links {
        position: fixed;
        left: -100%;
        top: 2.55rem;
        display: flex;
        flex-direction: column;
        background-color: #03001C;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    
    .nav-links.active {
        left: 0;
    }

    .navLinks {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: white;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    header {
        align-items: center;
    }

    #description > p{
        padding: 0;
    }

    #carousel-heroes {
        height: 95vw;
    }

    .hero-content .hero-box {
        height: 95vw;
    }

    #whereToGet {
        height: 720px;
    }

}

@media only screen and (max-width: 680px) {
    header {
        gap: 20px;
    }
    
    nav {
        padding-right: 0;
        padding-left: 0;
        max-width: 100%;
        grid-template-columns: 12vw 70.99vw 17vw;
    }

    .hamburger {
        margin-left: 3vw;
    }

    .dark-mode-switch {
        grid-column: 2;
    }

    #navBanner {
        grid-column: 3;
        margin-right: 3vw;
        margin-left: 0;
        justify-self: end;
    }

    #description > h2{
        text-align: center;
    }

    #carousel-heroes {
        height: 132vw;
    }

    .hero-content .hero-box {
        height: 132vw;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 24vw);
        grid-template-rows: repeat(9, 15vw);
        grid-gap: 10px;
        margin-bottom: 5vw;
    }

    #grid1 {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
    }
    
    #grid2 {
        grid-column: 1 / span 3;
        grid-row: 4 / span 3 ;
    }
    
    #grid3 {
        grid-column: 1;
        grid-row: 3;
    }
    
    #grid4 {
        grid-column: 2;
        grid-row: 3;
    }
    
    #grid5 {
        grid-column: 1 / span 3;
        grid-row: 7 / span 2;
    }
    
    #grid6 {
        grid-column: 3;
        grid-row: 3;
    }
    
    #grid7 {
        grid-column: 1;
        grid-row: 9;
    }
    
    #grid8 {
        grid-column: 2;
        grid-row: 9;
    }
    
    #grid9 {
        grid-column: 3;
        grid-row: 9;
    }

    #whereToGet {
        height: 1040px;
    }

    .radio-button {
        flex-direction: column;
        align-items: flex-start;
    }

    #registrationForms > form {
        width: 90vw;
    }
}

@media only screen and (max-width: 645px) {
    .iframe-wrapper {
        float: none; 
        clear: both; 
        width: 100%; 
        position: relative; 
        padding-bottom: 56.25%; 
        padding-top: 25px; 
        height: 0; 
    } 
    
    .iframe-wrapper iframe { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
}

@media only screen and (max-width: 583px) {

    .hero-content .hero-box .content p {
        width: 70vw;
    }

    #carousel-heroes {
        height: 150vw;
    }

    .hero-content .hero-box {
        height: 150vw;
    }
}

@media only screen and (max-width: 535px) {
    #carousel-heroes {
        height: 230vw;
    }

    .hero-content .hero-box {
        height: 230vw;
    }
}

@media only screen and (max-width: 420px) {
    #carousel-heroes {
        height: 400vw;
    }

    .hero-content .hero-box {
        height: 400vw;
    }
}

@media only screen and (max-width: 370px) {
    #whereToGet {
        height: 1180px;
    }
}